<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Categorized Polls</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" href="../static/css/libs/bootstrap/bootstrap.min.css" th:href="@{/css/libs/bootstrap/bootstrap.min.css}"/>
</head>
<body>
	<div th:replace="fragments/header :: top-menu"/>
	<div class="container-fluid">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="text-center"><h2>Poll Results Statistics :</h2></div>
					<div th:fragment="poll-info (poll)" class="panel-title">
						<div class="text-center">
							<a th:if="${#strings.contains(#httpServletRequest.requestURI,'personal-cabinet') and poll.user == user}" class="btn btn-danger" th:href="@{/poll/{pollId}/remove(pollId=${poll.id})}">Remove Poll</a>
							<a sec:authorize="hasAuthority('ADMIN')" class="btn btn-danger" th:href="@{/poll/{pollId}/remove(pollId=${poll.id})}">Remove Poll</a>
						</div>
						<a sec:authorize="!isAuthenticated()" th:href="@{/poll/{pollId}/results(pollId=${poll.id})}"><h3 style="margin-top: 0" th:text="${poll.name}">Poll Name</h3></a>
						<a sec:authorize="isAuthenticated()" th:href="@{/poll/{pollId}/test-questions/take(pollId=${poll.id})}"><h3 style="margin-top: 0" th:text="${poll.name}">Poll Name</h3></a>
						<h5><span class="glyphicon glyphicon-folder-open"></span> <a th:href="@{/poll-list-by/theme/{themeName}(themeName=${poll.pollTheme.name})}" th:text="${' ' + poll.pollTheme.name}"></a></h5>
						<div style="margin-bottom: 1em">
							<span th:unless="${#strings.isEmpty(poll.hashTags)}" class="glyphicon glyphicon-pushpin"></span>
							<th:block th:each="hashTag : ${#strings.arraySplit(poll.hashTags,' ')}">
							<a th:href="@{/poll-list-by/hashtag/{hashtag}(hashtag = ${hashTag})}" th:text="${hashTag}" class="label label-default">
							</a>
						</th:block>
					</div>
				</div>
			</div>
			<div class="panel-body row">
				
			</div>
		</div>
	</div>
</div>	
</body>
</html>
